@model ERP.Web.Areas.Home.Models.HomeModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="text-align:center;">
    <img src="~/images/dashboard_wt.jpg" />
</div>