<ul class="gn-menu accordion" id="accordion">
    <li>
        &nbsp;
    </li>
    <li class="open">
        <a id=1 class="gn-icon gn-icon-main link">Master <i class="down"></i></a>
        <ul class="submenu">
            <li><a asp-area="Company" asp-controller="Company" asp-action="CompanyList" class="gn-icon gn-icon-dropdown">Company Details</a></li>
            <li><a asp-area="Branch" asp-controller="Branch" asp-action="BranchList" class="gn-icon gn-icon-dropdown">Branch List</a></li>
            <li><a asp-area="Country" asp-controller="Country" asp-action="CountryList" class="gn-icon gn-icon-dropdown">Country List</a></li>
            <li><a asp-area="State" asp-controller="State" asp-action="StateList" class="gn-icon gn-icon-dropdown">State List</a></li>
            <li><a asp-area="City" asp-controller="City" asp-action="CityList" class="gn-icon gn-icon-dropdown">City List</a></li>
            <li><a asp-area="Department" asp-controller="Department" asp-action="DepartmentList" class="gn-icon gn-icon-dropdown">Department List</a></li>
            <li><a asp-area="Bank" asp-controller="Bank" asp-action="BankList" class="gn-icon gn-icon-dropdown">Bank List</a></li>
            <li><a asp-area="Currency" asp-controller="Currency" asp-action="CurrencyList" class="gn-icon gn-icon-dropdown">Currency List</a></li>
            <li><a asp-area="Tax" asp-controller="Tax" asp-action="TaxList" class="gn-icon gn-icon-dropdown">TAX List</a></li>
            <li><a asp-area="HSN" asp-controller="HSN" asp-action="HSNList" class="gn-icon gn-icon-dropdown">HSN List</a></li>
            <li><a asp-area="Carton" asp-controller="Carton" asp-action="CartonList" class="gn-icon gn-icon-dropdown">Carton List</a></li>
            <li><a asp-area="Contractor" asp-controller="Contractor" asp-action="ContractorList" class="gn-icon gn-icon-dropdown">Contractor List</a></li>
            <li><a asp-area="Unit" asp-controller="Unit" asp-action="UnitList" class="gn-icon gn-icon-dropdown">Unit List</a></li>
            <li><a asp-area="Color" asp-controller="Color" asp-action="ColorList" class="gn-icon gn-icon-dropdown">Color List</a></li>
            <li><a asp-area="Quality" asp-controller="Quality" asp-action="QualityList" class="gn-icon gn-icon-dropdown">Quality List</a></li>
            <li><a asp-area="Buyer" asp-controller="Buyer" asp-action="BuyerList" class="gn-icon gn-icon-dropdown">Buyer List</a></li>
            <li><a asp-area="Supplier" asp-controller="Supplier" asp-action="SupplierList" class="gn-icon gn-icon-dropdown">Supplier List</a></li>
            <li><a asp-area="Consignee" asp-controller="Consignee" asp-action="ConsigneeList" class="gn-icon gn-icon-dropdown">Consignee List</a></li>
            <li><a asp-area="DocumentType" asp-controller="DocumentType" asp-action="DocumentTypeList" class="gn-icon gn-icon-dropdown">Document Type List</a></li>
        </ul>
    </li>

    <li class="open">
        <a class="gn-icon gn-icon-main link">Raw Material <i class="down"></i></a>
        <ul class="submenu">
            <li><a asp-area="RMProperty" asp-controller="RMProperties" asp-action="CreateRMP" class="gn-icon gn-icon-dropdown">RM Properties</a></li>
            <li><a asp-area="RMProperty" asp-controller="RMProperties" asp-action="RMPList" class="gn-icon gn-icon-dropdown">RM Properties List</a></li>
            <li><a asp-area="RMProperty" asp-controller="RMProperties" asp-action="CreateRMPValue" class="gn-icon gn-icon-dropdown">RM Properties Value</a></li>
            <li><a asp-area="RMProperty" asp-controller="RMProperties" asp-action="RMPValueList" class="gn-icon gn-icon-dropdown">RM Properties Value List</a></li>
            <li><a asp-area="RMProperty" asp-controller="RMProperties" asp-action="CreateMapping" class="gn-icon gn-icon-dropdown">RM Properties Mapping</a></li>
            <li>&nbsp;</li>

            <li><a asp-area="Adhesive" asp-controller="Adhesive" asp-action="AdhesiveList" class="gn-icon gn-icon-dropdown">Adhesive List</a></li>
            <li><a asp-area="Cloth" asp-controller="Cloth" asp-action="ClothList" class="gn-icon gn-icon-dropdown">Cloth Type List</a></li>
            <li><a asp-area="FinishMetal" asp-controller="FinishMetal" asp-action="FinishMetalList" class="gn-icon gn-icon-dropdown">Finish List</a></li>
            <li><a asp-area="MetalPart" asp-controller="MetalPart" asp-action="MetalPartList" class="gn-icon gn-icon-dropdown">Metal List</a></li>
            <li><a asp-area="Panning" asp-controller="Panning" asp-action="PanningList" class="gn-icon gn-icon-dropdown">Tanning List</a></li>
            <li><a asp-area="Selection" asp-controller="Selection" asp-action="SelectionList" class="gn-icon gn-icon-dropdown">Selection List</a></li>
            <li><a asp-area="Size" asp-controller="Size" asp-action="SizeList" class="gn-icon gn-icon-dropdown">Size List</a></li>
            <li><a asp-area="Shape" asp-controller="Shape" asp-action="ShapeList" class="gn-icon gn-icon-dropdown">Shape/State List</a></li>
            <li><a asp-area="Structure" asp-controller="Structure" asp-action="StructureList" class="gn-icon gn-icon-dropdown">Structure List</a></li>
            <li><a asp-area="Thickness" asp-controller="Thickness" asp-action="ThicknessList" class="gn-icon gn-icon-dropdown">Thickness List</a></li>
            <li><a asp-area="QuickTest" asp-controller="QuickTest" asp-action="QuickTestList" class="gn-icon gn-icon-dropdown">Quick Test</a></li>
            <li><a asp-area="Width" asp-controller="Width" asp-action="WidthList" class="gn-icon gn-icon-dropdown">Width List</a></li>
            <li><a asp-area="GSM" asp-controller="GSM" asp-action="GSMList" class="gn-icon gn-icon-dropdown">GSM List</a></li>
            <li><a asp-area="RMBrand" asp-controller="RMBrand" asp-action="RMBrandList" class="gn-icon gn-icon-dropdown">RM Brand List</a></li>
            <li><a asp-area="RMCat" asp-controller="RMCat" asp-action="RMCategoryList" class="gn-icon gn-icon-dropdown">RM Category List</a></li>
            <li><a asp-area="RMSubCat" asp-controller="RMSubCat" asp-action="RMSubCategoryList" class="gn-icon gn-icon-dropdown">RM SubCategory List</a></li>
            <li><a asp-area="RM" asp-controller="RM" asp-action="CreateRM" class="gn-icon gn-icon-dropdown">New Raw Material</a></li>
            <li><a asp-area="RM" asp-controller="RM" asp-action="RMList" class="gn-icon gn-icon-dropdown">Raw Material List</a></li>
            @*<li><a asp-area="RM" asp-controller="RM" asp-action="MoveRM" class="gn-icon gn-icon-dropdown">Move Raw Material</a></li>*@
            <li><a asp-area="RM" asp-controller="RM" asp-action="RMSupplierPrice" class="gn-icon gn-icon-dropdown">RM Supplier Price</a></li>
            <li><a asp-area="RM" asp-controller="RM" asp-action="RMSupplierPriceHistoryList" class="gn-icon gn-icon-dropdown">Supplier Price History</a></li>
            <li><a asp-area="RM" asp-controller="RM" asp-action="RMCostPrice" class="gn-icon gn-icon-dropdown">RM Cost Price</a></li>
            <li><a asp-area="RM" asp-controller="RM" asp-action="RMSupplier" class="gn-icon gn-icon-dropdown">RM Supplier</a></li>
            <li><a asp-area="RM" asp-controller="RM" asp-action="SupplierRM" class="gn-icon gn-icon-dropdown">Supplier RM</a></li>
            <li><a asp-area="RM" asp-controller="RM" asp-action="RMForProduct" class="gn-icon gn-icon-dropdown">RM in Product</a></li>
            <li><a asp-area="RM" asp-controller="RM" asp-action="RMMinimumLevel" class="gn-icon gn-icon-dropdown">Below Minimum Level</a></li>
            <li><a asp-area="RM" asp-controller="RM" asp-action="UnusedRMList" class="gn-icon gn-icon-dropdown">Unused RM List</a></li>
        </ul>
    </li>


    <li>
        <a class="gn-icon gn-icon-main link">Tools<i class="down"></i></a>
        <ul class="submenu">
            <li><a asp-area="User" asp-controller="User" asp-action="UserList" class="gn-icon gn-icon-dropdown">User List</a></li>
            
            <li><a asp-area="UserRight" asp-controller="UserRight" asp-action="Create" class="gn-icon gn-icon-dropdown">User Right</a></li>
            <li><a asp-area="Emails" asp-controller="Emails" asp-action="EmailsList" class="gn-icon gn-icon-dropdown">Email Setting</a></li>

            <li><a asp-area="" asp-controller="" asp-action="" class="gn-icon gn-icon-dropdown">&nbsp;</a></li>
        </ul>
    </li>
</ul>
