@model ERP.Domain.Entities.EmailSettings
@using NonFactors.Mvc.Grid;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Email Settings List";
}

<p>
    <strong>EmailSettings List  &nbsp;&nbsp;&nbsp;&nbsp;  </strong> @Html.ActionLink("Create New Email Setting", "CreateEmails", "Emails") &nbsp;&nbsp;&nbsp; Search &nbsp;&nbsp;<input class="grid-search" />
</p>  

@*<div> 
</div>*@

@Html.AjaxGrid(Url.Action("EmailsList_Partial"))

@section Scripts {
    <script type="text/javascript">

        $(document).on('keyup', '.grid-search', function () {
            //alert("query");
            $('.mvc-grid').mvcgrid({
                query: 'search=' + this.value,
                reload: true
            });

        });
    </script>
}