@using ERP.Domain.Entities;
@using NonFactors.Mvc.Grid;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Contractor List";
}
 <p>
    @Html.ActionLink("Create New Contractor", "CreateContractor", "Contractor", "", new { @class = "btn btn-info" }) 
</p>

@Html.AjaxGrid(Url.Action("ContractorList_Partial"))
