@using ERP.Domain.Entities;
@using NonFactors.Mvc.Grid;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Buyer List";
}
<p>
    @Html.ActionLink("Create New Buyer", "CreateBuyer", "Buyer", "", new { @class = "btn btn-info" }) &nbsp;&nbsp;&nbsp; Search &nbsp;&nbsp;<input class="grid-search" />
</p>

@Html.AjaxGrid(Url.Action("BuyerList_Partial"))

@section Scripts {
    <script type="text/javascript">

        $(document).on('keyup', '.grid-search', function () {
            //alert("query");
            $('.mvc-grid').mvcgrid({
                query: 'search=' + this.value,
                reload: true
            });
        });
    </script>
}